<!DOCTYPE html>

<!doctype html>
<head>
<title>Trained Model In Process</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                </ul>
            </nav>
            <h3 class="text-muted">Daily Fantasy Sports Optimizer</h3>
        </div>

        <div class="jumbotron">
            <h1>We are training your model... Please be patient! </h1>
            <p class="lead"></p>
            </p>
        </div>

        <div class="row marketing">

        </div>

        <footer class="footer">
            <p>&copy; Fantasy Winners Inc. 2017</p>
        </footer>

    </div>
</body>

</html>