<!DOCTYPE html>

<head>
<title>Optimized Lineup</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>


    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                </ul>
            </nav>
            <h3 class="text-muted">Daily Fantasy Sports Optimizer</h3>
        </div>

        <div class="jumbotron">
            <h1>Optimal Lineup for Week 10:</h1>
            <p class="lead"></p>
              {% for table in tables %}
    			<h2>{{titles[loop.index]}}</h2>
    			{{ table|safe }}
  			{% endfor %}
  			<p><a class="btn btn-lg btn-success" href="/preOPT" role="button">Optimize Lineup</a>
  			<p><a class="btn btn-lg btn-success" href="/goBack" role="button">Home</a>
            </p>
        </div>

        <div class="row marketing">

        </div>

        <footer class="footer">
            <p>&copy; Fantasy Winners Inc. 2017</p>
        </footer>

    </div>
</body>

</html>




